    </div>

    <div id="page-footer" class="page-footer" role="contentinfo">

        <!-- INCLUDE navbar_footer.html -->

    <div class="copyright">{CREDIT_LINE}
        <!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
        <!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
        <!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
    </div>
</div>

</div>

<div>
    <a id="bottom" name="bottom" accesskey="z"></a>
    <!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/jquery.min.js"></script>
<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js"></script>
<script type="text/javascript" src="{T_STYLES_PATH}/prosilver/template/forum_fn.js"></script>

</body>
</html>