<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />

{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<!-- IF S_ENABLE_FEEDS -->
    <!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
<!-- ENDIF -->

<!--
    phpBB style name: prosilver
    Based on style:   prosilver (this is the default phpBB3 style)
    Original author:  Tom Beddard ( http://www.subBlue.com/ )
    Modified by:
-->

<script type="text/javascript">
// <![CDATA[
    var jump_page = '{LA_JUMP_PAGE}:';
    var on_page = '{ON_PAGE}';
    var per_page = '{PER_PAGE}';
    var base_url = '{A_BASE_URL}';
    var style_cookie = 'phpBBstyle';
    var style_cookie_settings = '{A_COOKIE_SETTINGS}';
    var onload_functions = new Array();
    var onunload_functions = new Array();

    <!-- IF S_USER_PM_POPUP and S_NEW_PM -->
        var url = '{UA_POPUP_PM}';
        window.open(url.replace(/&amp;/g, '&'), '_phpbbprivmsg', 'height=225,resizable=yes,scrollbars=yes, width=400');
    <!-- ENDIF -->

    /**
    * Find a member
    */
    function find_username(url)
    {
        popup(url, 760, 570, '_usersearch');
        return false;
    }

    /**
    * New function for handling multiple calls to window.onload and window.unload by pentapenguin
    */
    window.onload = function()
    {
        for (var i = 0; i < onload_functions.length; i++)
        {
            eval(onload_functions[i]);
        }
    };

    window.onunload = function()
    {
        for (var i = 0; i < onunload_functions.length; i++)
        {
            eval(onunload_functions[i]);
        }
    };

// ]]>
</script>
<script type="text/javascript" src="{T_STYLES_PATH}/prosilver/template/styleswitcher.js"></script>

<link href="{T_STYLES_PATH}/prosilver/theme/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link href="{T_ASSETS_PATH}/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="{T_STYLES_PATH}/prosilver/theme/stylesheet.css" rel="stylesheet" type="text/css" media="screen, projection" />

<link href="{T_STYLES_PATH}/prosilver/theme/{S_USER_LANG_NAME}/stylesheet.css" rel="stylesheet">

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
    <link href="{T_STYLES_PATH}/prosilver/theme/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
<!-- ENDIF -->

</head>

<body id="phpbb" class="section-{SCRIPT_NAME} {S_CONTENT_DIRECTION}">

<div id="wrap" class="wrap">
    <a id="top" class="top-anchor" accesskey="t"></a>
    <div id="page-header">
        <div class="headerbar" role="banner">
            <div class="inner">
                <div id="site-description" class="site-description">
                    <a id="logo" class="logo" href="{U_INDEX}" title="{L_INDEX}"><span class="site_logo"></span></a>
                    <h1>{SITENAME}</h1>
                    <p>{SITE_DESCRIPTION}</p>
                    <p class="skiplink"><a href="#start_here">{L_SKIP}</a></p>
                </div>

                <!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
                <div id="search-box" class="search-box search-header" role="search">
                    <form action="{U_SEARCH}" method="get" id="search">
                        <fieldset>
                            <input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
                            <button class="button button-search" type="submit" title="{L_SEARCH}">
                                <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
                            </button>
                            <a href="{U_SEARCH}" class="button button-search-end" title="{L_SEARCH_ADV}">
                                <i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
                            </a>
                            {S_SEARCH_HIDDEN_FIELDS}
                        </fieldset>
                    </form>
                </div>
                <!-- ENDIF -->

            </div>
        </div>

        <!-- INCLUDE navbar_header.html -->

    </div>

    <a id="start_here" class="anchor"></a>
    <div id="page-body" class="page-body" role="main">
        <!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
        <div id="information" class="rules">
            <div class="inner">
                <strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
            </div>
        </div>
        <!-- ENDIF -->
